<ion-view view-title="修改密码">
  <form name="myForm" novalidate >
    <ion-content >

      <div class="list list-inset ">
        <label>
          <span class="input-label">请输入旧密码</span>
          <label class="item item-input" style="margin-bottom: 20px;">
            <input name="oldPassword" type="password" ng-model="changePasswordData.oldPassword" required>
          </label>
        </label>

        <label>
          <span class="input-label">请输入新密码</span>
          <label class="item item-input" style="margin-bottom: 20px;">
            <input name="newPassword" type="password" ng-model="changePasswordData.newPassword" ng-minlength="6" ng-maxlength="16" required>
          </label>
        </label>

        <label>
          <span class="input-label">请再输入一次</span>
          <label class="item item-input">
            <input name="confirmPassword" type="password" ng-model="changePasswordData.confirmPassword" required>
          </label>
        </label>
      </div>


      <div class="row padding">
        <button type="submit" class="button button-positive button-block" ng-click="save()" >确定</button>
      </div>

      <div ng-messages="myForm.oldPassword.$error" ng-if="myForm.oldPassword.$touched || myForm.$submitted">
        <div ng-message="required" >旧密码必填</div>
      </div>

      <div  ng-messages="myForm.newPassword.$error" ng-if="myForm.newPassword.$touched || myForm.$submitted">
        <div ng-message="required" >新密码必填</div>
        <div ng-message="minlength" >新密码的长度不能小于6位</div>
        <div ng-message="maxlength" >新密码的长度不能大于16位</div>
      </div>

      <div ng-if="(myForm.confirmPassword.$touched || myForm.$submitted) && changePasswordData.newPassword!=changePasswordData.confirmPassword">
        <div >新密码和确认密码的值不一致</div>
      </div>

    </ion-content>

  </form>
</ion-view>

