<ion-view view-title="课程信息">
  <ion-nav-buttons side="left">
    <button class="button button-clear icon-left ion-ios-arrow-back" ng-click="goBack()">
      &nbsp;&nbsp;首页
    </button>
  </ion-nav-buttons>

  <ion-content class="has-footer">
    <div class="list">

      <label class="item item-input ">
        <span class="input-label"><span class="positive">您的课程如下：</span></span>
        <input type="text" ng-model="product.Name">
      </label>


      <li class="item stable-bg" style="border-right: none;" ng-repeat="item in course">
        {{item}}
      </li>



    </div>
    <div class="bar  bar-positive">
      <div class="button-bar">
        <button class="button button-clear light" ng-click="save()" >保存</button>

      </div>
    </div>
  </ion-content>



</ion-view>
