<ion-view view-title="反馈意见">

  <ion-nav-buttons side="left">
    <button class="button button-clear icon-left ion-ios-arrow-back" ng-click="goBack()">
      &nbsp;&nbsp;首页
    </button>
  </ion-nav-buttons>

  <ion-content class="stable-bg">



    <div class="list list-inset">
      <textarea style="border: #DCDCDC 1px solid; overflow: visible;  " cols=70 rows=8>请输入您的建议：</textarea>
      <br>
      <a class="item item-icon-right" >
        黑屏卡顿快速反馈<i class="icon ion-ios-arrow-forward" ></i>
      </a>
    </div>
    <label class="item item-input ">
      <span class="input-label">联系电话<span class="energized"></span></span>
      <input type="text" >
    </label>
    <div class="row padding">
      <button type="submit" class="button button-positive button-block" ng-click="save()" >提交</button>
    </div>

  </ion-content>

  <company-directive bottom="0px"></company-directive>


</ion-view>



